body{

    background:#f4f7fb;

    font-family:Arial, Helvetica, sans-serif;

}

.card{

    border-radius:20px;

}

.preview-image{

    max-width:350px;

    border-radius:15px;

}

.result-box{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.progress{

    height:30px;

    border-radius:20px;

}

.progress-bar{

    font-weight:bold;

    font-size:16px;

}

footer{

    color:#777;

}